<form action="/login" method="POST">
	<h1>Login</h1>
	<label for="username">Username:</label>
	<input type="email" name="username" id="username" />
	<label for="password">Password</label>
	<input type="password" name="password" id="password" />
	<button>Login</button>
	<p>Not a Member? Click <a href="/signup">Here</a> to register!</p>
</form>
