<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%=title%></title>
	</head>
	<body>
		<%if(folders.length > 0) {%> <% folders.forEach((f) => { %>
		<h1><a href="/folders/<%=f.id%>"><%=f.name%></a></h1>
		<form action="/folders/delete/<%=f.id%>" method="POST">
			<button
				onclick="return confirm(`Are you sure you wish to delete this folder?`)"
			>
				Delete
			</button>
		</form>

		<% }); %> <%} else {%>
		<p>Nothing here</p>
		<%}%>
	</body>
</html>
