<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%=title %></title>
	</head>
	<body>
		<% if (locals.user) {%>
		<h1>Welcome back <%=user.username%></h1>
		<a href="/logout">Logout</a>
		<a href="/folders/create">New Folder</a>
		<a href="/folders">My folders</a>
		<%-include("./partials/fileupload") %> <% } else { %>
		<%-include("./partials/login") %> <%}%>
	</body>
</html>
